@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Chamado</h1>
    <p><a href="https://github.com/Yurisin/Programa-CSharp">GitHub Aqui</a></p>
</div>
